{% extends 'auth.html' %}
{% load static tailwind_tags %}
{% load static %}
{% tailwind_css %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <section>
        <h1 class="mb-4 text-5xl text-green-600">Login Here</h1>
        <form method="post" class="shadow-xl shadow-green-500 p-4 text-2xl">
            {% csrf_token %}
             <div class="mb-4">
                <label for="id_username" class="block text-gray-700 font-bold mb-2">Username:</label>
                <input
                    type="text"
                    id="id_username"
                    name="username"
                    class="border border-gray-300 rounded px-4 py-2 w-full" {{ form.username.as_p | safe }}
                >
            </div>
            <div class="mb-4">
                <label for="id_password" class="block text-gray-700 font-bold mb-2">Password:</label>
                <input
                    type="password"
                    id="id_password"
                    name="password"
                    class="border border-gray-300 rounded px-4 py-2 w-full" {{ form.password.as_p | safe }}
                >
            </div>
            <button type="submit" class="px-4 py-2 rounded-md bg-green-600 text-white w-full my-1">Submit</button>
            <p class="mt-4">
                Don't have an account? <a href="{% url 'users:register' %}" class="text-green-600">Register here</a>
            </p>
        </form>
    </section>
{% endblock %}