{% extends 'layout.html' %}
{% block title %}Log Recycling{% endblock %}
{% block content %}
    <div class="flex-1 flex items-center justify-center flex-col p-4">
        <h1 class="text-4xl font-bold text-green-600 my-4">Log Your Recycling Activity</h1>
        <form method="post" class="shadow-xl shadow-green-600 my-4 p-8 rounded-lg w-1/2">
{#            {% csrf_token %}#}
             <div class="mb-4">
                <label for="id_recyclable_type" class="block text-gray-700 font-bold mb-2">Recyclable Type:</label>
                <select id="id_recyclable_type" name="recyclable_type" class="border border-gray-300 rounded p-4 w-full" {{ form.recyclable_type | safe }}>
                    {% for value, label in form.recyclable_type.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="id_quantity" class="block text-gray-700 font-bold mb-2">Quantity:</label>
                <input
                    type="text"
                    id="id_quantity"
                    name="quantity"
                    class="border border-gray-300 rounded p-4 w-full" {{ form.quantity.as_p | safe }}
                >
            </div>
            <button type="submit" class="p-4 rounded-md bg-green-600 text-white w-full my-1 transition-all duration-300 hover:bg-green-400">Log Recycling</button>
        </form>
    </div>
{% endblock %}
